@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {      /* Requirement-2.A */
    margin: 0;      /* Requirement-2.6 */
    font-family: "Montserrat", Helvetica, sans-serif;   /* Requirement-2.1 */
    position: relative;         /* Requirement-2.15 */
    height: 100%;
    width: 100%;
    background-color: rgb(36, 37, 42);      /* Requirement-2.4 */
    color: #edf0f1;     /* Requirement-2.3 */
}

li a {      /* Requirement-2.B */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;       /* Requirement-2.8 */
}

.header {   /* Requirement-2.C */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 2px solid #edf0f1;       /* Requirement-2.5 */
    transition: all 0.2s ease-in-out;
    margin-bottom: 40px;
}

.name-logo {
    cursor: pointer;
    margin-right: auto;
    width: 140px;       /* Requirement-2.7 */
}

.navbar li {        /* Requirement-2.F */
    display: inline-block;
    padding: 0px 20px;      /* Requirement-2.9 */
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {        /* Requirement-2.E */
    color:  rgb(68, 203, 177);
}

button {
    padding: 9px 25px;
    background-color: rgba(68, 203, 177, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

button:hover {
    background-color:  rgba(68, 203, 177, 0.7);
    color: #edf0f1;
}

.block {
    background-color: rgb(50, 51, 55);
    border: 2px solid #edf0f1;
    border-radius: 20px;
    margin: 20px 40px;
    padding: 10px 14px;
}

.title, .mini-title {
    color: #edf0f1;
}

.travel_card {
    color: #edf0f1;
    background-color: rgb(47, 48, 53);
    border: 2px solid #edf0f1;
    border-radius: 10px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}

.background {
    background-image: url("../images/world_map.gif");
    background-size: auto;
    object-position: center;
    object-fit: cover;
    min-height: 400px;
    margin-bottom: 40px;
    overflow: hidden;
    background-repeat: repeat-x;
}

table, th, td{
    border: 1px solid;
    font-weight: 300;
}

table, .travel_card {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-bottom: 16px;
}

th {
    padding: 8px 14px;
    font-weight: bold;
    font-size: 16px;
}

td {
    font-size: 14px;
}

.table-container {
    padding: 0px 16px;
}

.table-header {
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(68, 203, 177);
}

.small_card {
    color: #edf0f1;
    background-color: rgb(47, 48, 53);
    font-size: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.card_header > img {
    display: block;
    width: 100%;            /* Requirement-2.10 */
    aspect-ratio: 16/9;
    object-fit: cover;
    max-height: 250px;
    object-position: center;
    overflow: hidden;
    transition: 200ms transform ease-in-out;
}

.small_card > h3 {
    font-weight: bold;
    font-size: 18px;
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-body {
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
}

.small_card:hover > .card_header > img {
    transform: scale(1.01);
}

.me {
    color: rgb(68, 203, 177);
}

.about_me_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 50px 50px;
}

.about_me_grid > .card {
    border: 2px solid #edf0f1;
    background: rgb(47, 48, 53);
    border-radius: 10px;
    padding: 10px 20px;
}

.card.about_me {
    align-items: flex-start;
    background-image: url("../images/about-me-background.png");
    background-size: auto;
    object-fit: cover;
    object-position: center;
    height: 350px;
    overflow: auto;
    visibility: visible;        /* Requirement-2.16 */
}

.card.work {
    overflow: auto;
    background-image: url("../images/work-background.jpeg");
    max-height: 350px;
}

.card.work > p {
    font-size: 13px;
    clear: right;       /* Requirement-2.13 */
}

.about_me_title {
    display: inline-block;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.about_me.p {
    font-size: 20px;
}

.pfp {
    float: right;           /* Requirement-2.11 */
    border-radius: 50px;
    margin-top: 6px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.6);
    margin-left: 10px;
}

.mini-title {
    margin: 12px 0px;
}

.work-title {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.grid-row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#work-pic {
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    min-width: 100px;
}

.item {
    background-color: rgb(47, 48, 53);
    padding: 1em;
    font-weight: 700;
    color: #edf0f1;
    text-align: center;
    border: 2px solid #edf0f1;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;
    min-height: 415px;
}

.hobby-title {
    color: #edf0f1;
    text-align: center;
    font-size: 62px;
    text-shadow: rgb(158, 153, 120) 4px 2px 6px;
    letter-spacing: 4px;    /* Requirement-2.2 */
    margin-bottom: 50px;
}

.mini-title {
    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 4px;
}

.hobby-desc {
    font-size: 14px;
    font-weight: 400;
}

.hobby-desc.chess-desc {
    margin-top: 0;
}

.val_graph {
    width: 400px;
    box-shadow: 0px 0px 6px white;
}

.item.gaming {
    background-image: url("../images/game-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 16/9;
    width: 100%;
    background-position: center;
}

.hobby-desc.game {
    margin-bottom: 30px;
}

.mini-title.gaming {
    color: rgb(243, 42, 42);
    margin-top: 10px;
}

figcaption {
    font-size: 10px;
}

.item.chess {
    background-image: url("../images/chess_background.jpg");
    min-height: 480px;
}

.mini-title.chess {
    color: rgb(10, 155, 10);
    margin-top:10px;
}

.hikaru {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 2px;
    box-shadow: 0px 0px 6px white;
}

.hikaru img {
    margin-left: -32px;
}

.chess-container {
    display: flex;          /* Requirement-2.12 */
    flex-direction: column;
    margin-top: 0;
}

.chess-link {
    color: rgb(10, 155, 10);
    text-decoration: none;
}

.item.gym {
    background-image: url("../images/gym-background.jpg");
    background-position: -50px -40px;
    background-repeat: no-repeat;
    z-index: 10;        /* Requirement-2.17 */
}

.mini-title.gym {
    color: rgb(8, 165, 217);
    margin-top: 20px;
}

.hobby-desc.gym {
    margin-bottom: 40px;
}

.gym-pic {
    box-shadow: 0px 0px 6px white;
    overflow: hidden;           /* Requirement-2.14 */
    width: 350px;
    margin-left: 80px;
    border-left: none;
}

.bench {
    width: 350px;
    display: block;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}

.column {
    display: inline-block;
    max-width: 33.33%;
}

.column.sports {
    background-color: #12110f;
    font-weight: 400;
    border: 2px solid #edf0f1;
    border-radius: 10px;
    padding: 1em;
    max-width: 500px;
    min-width: 350px;
    min-height: 100px;
}

.column.basketball {
    overflow: hidden;
    margin-left: -125px;
}

summary {
    cursor: pointer;
}

.mini-title.sport {
    color: rgb(68, 203, 177);
}

#bball-image {      /* Requirement-2.D */
    display: block;
    width: 350px;
}

#badminton-image {
    display: block;
    width: 225px;
    margin-top: -10px;
}

img {
    width: 250px;
}

.city-box {
    border: 2px solid #edf0f1;
    border-radius: 10px;
    margin: 10px 50px;
    background-image: url("../images/bp-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 20px;
    min-height: 600px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 200px;
    overflow-x: auto;
}

.city-title {
    width: 800px;
}

.city-title h3{
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    width: 800px;
}

#inNout {
    width: 70%;
    margin-left: 1em;
    margin-top: 0.5em;
    box-shadow: 0px 0px 20px white;
    border-radius: 20px;
}

.city-img {
    min-width: 400px;
}

.city.p {
    display: inline-block;
    width: 400px;
    padding-top: 20px;
}

footer {
    font-family: "Roboto",sans-serif;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    margin-top: 5px;
}

footer:last-child {
    margin-bottom: 50px;
}

.email-link {
    text-decoration: none;
    color: rgb(68, 203, 177);
    cursor: pointer;
}

#email {
    margin-top: 10px;
}

.icon {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0;
    overflow: hidden;
}

#email-icon {
    display: block;
    width: 80px;
}

.basketball-title {
    color: orange;
    font-size: 18px;
}

.badminton-title {
    color: rgb(255, 255, 0);
    font-size: 18px;
}

details summary {
    background: rgb(36, 37, 42);
    color: rgb(2, 169, 2);
}

details {
    background-color: rgb(51, 53, 60);
    box-shadow: 1px 1px 4px 1px #edf0f1;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

details[open] summary {
    color: red;
}

.summary-box {
    padding: 4px 4px;
    font-size: 14px;
}